@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&display=swap');

body
{
  margin: 0;  
  background: #011936f8;
  opacity: 0.7;
  font-family: 'Roboto', sans-serif;
}

.main-login
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login
{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #00f7ff;
}

.left-login h1
{
  width: 100%;
  font-size: 50px;
  padding: 20px;
}
.text
{
  border-radius: 10px;
  border: 2px solid #14B2B8;
}

.right-login
{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-login
{
  width: 70%;
  height: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #05152b;
  overflow: hidden;
}

.box-login::after
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent, #14B2B8, #14B2B8);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
}

.box-login::before
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent, #14B2B8, #14B2B8);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3s;
}

@keyframes animate
{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

.form-login
{
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background-color: #011936;
  z-index: 10;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
}

.form-login h2
{
  color: #14B2B8;
  font-weight: 1000;
  text-align: center;
  letter-spacing: 0.1em
}

.inputBox-login
{
  position: relative;
  width: 100%;
  margin-top: 35px;
}

.inputBox-login input
{
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent ;
  border: none;
  outline: none;
  color: #011936;
  font-size: 1em;
  letter-spacing: 0.05;
  z-index: 10;
  box-sizing: border-box;
}

.inputBox-login span
{
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 1em;
  color: #14B2B8;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.inputBox-login input:valid ~ span,
.inputBox-login input:focus ~ span
{
  color: #14B2B8;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}

.inputBox-login i
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #14B2B8;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox-login input:valid ~ i,
.inputBox-login input:focus ~ i
{
  height: 44px;

}

.links
{
  display: flex;
  justify-content: space-between;
}

.links a
{
  margin: 10px 0;
  font-size: 0.75em;
  color: #14B2B8;
  text-decoration: none;
}

.links a:hover
{
  color: #14B2B8;
}

input[type="submit"]
{
  border: none;
  outline: none;
  background: #14B2B8;
  padding: 11px 25px;
  width: 100px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;

}

input[type="submit"]:active
{
  opacity: 0.8;
}


/*Tela de Cadastro*/
/*Tela de Cadastro*/
/*Tela de Cadastro*/
/*Tela de Cadastro*/


.main-cadastro{
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.box-cadastro
{
  width: 50%;
  height: 80%;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #05152b;
  overflow: hidden;
}

.box-cadastro::after
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent, #14B2B8, #14B2B8);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
}

.box-cadastro::before
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent, #14B2B8, #14B2B8);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3s;
}

@keyframes animate
{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

.form-cadastro
{
  
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background-color: #011936;
  z-index: 10;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
}

.form-cadastro h2
{
  color: #14B2B8;
  font-weight: 1000;
  text-align: center;
  letter-spacing: 0.1em
}

.inputBox-cadastro
{
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.inputBox-cadastro input
{
  position: relative;
  width: 100%;
  padding: 10px 20px 20px;
  background-color: transparent ;
  border: none;
  outline: none;
  color: #011936;
  font-size: 1emd;
  letter-spacing: 0.05;
  z-index: 10;
  box-sizing: border-box;
}

.inputBox-cadastro span
{
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 1em;
  color: #14B2B8;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.inputBox-cadastro input:valid ~ span,
.inputBox-cadastro input:focus ~ span
{
  color: #14B2B8;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}

.inputBox-cadastro i
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #14B2B8;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox-cadastro input:valid ~ i,
.inputBox-cadastro input:focus ~ i
{
  height: 44px;

}

.links-cadastro
{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.links-cadastro a
{
  margin: 10px 0;
  font-size: 0.75em;
  color: #14B2B8;
  text-decoration: none;
}

.links-cadastro a:hover
{
  color: #14B2B8;
}

.form-cadastro input[type="submit"]
{
  border: none;
  outline: none;
  background: #14B2B8;
  padding: 11px 25px;
  width: 100px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;

}

.form-cadastro input[type="submit"]:active
{
  opacity: 0.8;
}

@media only screen and (max-width: 950px){
  .box{
    width: 75%;
  }
}

@media only screen and (max-width: 600px){
  .main-login{
    flex-direction: column;
  }

  .left-login{
    width: 100vw;
    height: 10vh;
  }

  .right-login{
    width: 100vw;
    height: 70vh;
  }
  
  .left-login h1{
    font-size: 20px;
  }

  .box{
    height: 70%;
  }
  
}


